.header {
    width: 1600px;
    height: 900px;
    background-image: url("../pictures/Layer\ 21@1X.png");
    color: #ffffff;
}

.header-container{
    padding-top: 531px;
    padding-left: 215px;
}

.sertiz {
    font-size: 48px;
    text-transform: uppercase;
    font-weight:900;
}

.awesome {
    font-size: 18px;
}

.awesome > span {
    text-transform: uppercase;
}

.smart > span {
    color: #f1ad1d; 
    text-transform: uppercase;
    
}

.smart {
    font-size: 54px;
    border: 1px solid #ffffff;
    width: 831px;
    /*height: 129;*/
    padding: 41px 30px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 28px;
}

.award {
    width: 1600px;
}

/*.about {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 72px;
}

.award-winning {
    text-align: center;
    font-size: 17px;
    margin-top: 35px;
}

hr {
    height: 3px;
    width: 60px;
    background-color: #f1ad1d;
    margin: 52px auto;
}
*/
.award-img {
    margin: 0 auto;
    width: 300px;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar>div {
    display: inline-block;
}

.nav-bar {
    width: 1169px;
    margin: 0 auto;
    border-bottom-style: solid;
    border-bottom-color: #f1ad1d;
    border-bottom-width: 3px;
}

.nav-text {
    font-weight: bold;
    color: #f1ad1d;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 92px;
}

.nav-list a {
    text-decoration: none;
    font-variant: small-caps;
    color: #7e7e7e;
    margin-left: 89px;
    font-size: 23px;
    font-weight: 900;
}

.nav-list {
    text-align: right;
    /*margin-left:90px;*/
    /*margin-left:90px;*/

}

.header-pattern h2 {
    font-size: 22px;
    text-transform: uppercase;   
    text-align: center; 
}

.header-pattern div{
    font-size: 1em;
    text-align: center;
    color: #7e7e7e;
}

hr {
    height: 3px;
    width: 60px;
    background-color: #f1ad1d;
    margin: 52px auto;
    border: none;
}

.header-pattern {
    margin: 100px;
}

.consulting {
    margin: 0 auto;
    width: 1169px;
}

.consulting-images {
    display: inline-block;
}

.consulting-images img {
    margin: 0 20px 20px 0;
}

.consulting-content{
    display: inline-block;
    width: 540px;
    vertical-align: 40px;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    color: #505050;
}

.consulting-content h3 {
    text-transform:  uppercase;
    margin-top: 0;
}

.consulting-content span {
    color: #f1ad1d;
}

.consulting-button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.consulting-button {
    width: 175px;
    height: 50px;
    background-color: #f1ad1d;
    text-align: center;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-top: 25px;
}

.speed {
    background-image: url("../pictures/speed.jpg");
    width: 1600px;
    height: 380px;
    color:white;
    text-align: center;
    text-transform: uppercase;
    
}